main {
    h2 {
        color: #525978;
        font-size: 16px;
        font-weight: 600;
    }

    h3 {
        color: white;
        font-size: 24px;
        font-weight: 500;

        span {
            color: #32E7B1;
            font-weight: 600;
        }
    }

    section .card {
        background-color: #0D0C12;
        border: 1px solid #202127;

        .head {
            padding: 15px;
            border-bottom: 1px solid #202127;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                margin: 0;
                font-weight: 500;
            }

            img {
                border-radius: 100px;
                width: 25px;
                height: 25px;
                margin-left: 5px;
            }
        }

        .body {
            padding: 15px;
        }

        .body.wrapCenter {
            display: flex;
            align-items: center;
        }
    }

    aside {
        .card {
            background-color: #0D0C12;
            border: 1px solid #202127;
            padding: 16px;
        }

        #manageButtonWrapper {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                background-color: #0D0C12;
                border: 1px solid #202127;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #5A5A5A;
                border-radius: 6px;
                font-weight: 600;
                padding: 12px 18px;
                font-size: 14px;
                width: 45%;

                svg {
                    stroke: #5A5A5A;
                    margin-right: 8px;
                }
            }

            button.active {
                background-color: #14151B;
                color: white;
            }

            button.active svg {
                stroke: white;
            }
        }

        #validatorList {
            display: flex;
            flex-direction: column;

            .validator {
                border: 1px solid #202127;
                border-radius: 6px;
                display: flex;
                padding: 16px;
                cursor: pointer;

                .logoWrapper img {
                    width: 40px;
                    height: 40px;
                    border-radius: 100px;
                }

                .detailsWrapper {
                    width: 100%;
                    padding-left: 15px;
                    margin-top: 3px;
                }

                .detailsWrapper {
                    p {
                        margin: 0;
                        font-weight: 600;
                    }

                    .address {
                        font-size: 14px;
                        color: #525978;
                        font-weight: 600;
                    }
                }

                .detailsWrapper>div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span {
                        border-radius: 100px;
                        background-color: white;
                        padding: 4px 20px;
                        color: black;
                        font-weight: 600;
                    }

                    span.active {
                        background-color: #32E7B1;
                    }

                    span.waiting {
                        background-color: #FFD057;
                    }

                    span.offline {
                        background-color: #DB4F4F;
                    }
                }
            }

            .validator.active {
                background-color: #14151B;
            }
        }
    }

    section {
        .tableWrapper table {
            border-collapse: collapse;
            width: 100%;

            td,th {
                padding: 8px;
                color: #cecece;
                font-weight: 500;
            }

            th {
                padding-top: 6px;
                padding-bottom: 6px;
                text-align: left;
                color: #7A7A7D;
                font-weight: 500;
            }

            tr img {
                border-radius: 100px;
                width: 30px;
                height: 30px;
            }

            tr:nth-child(even) {
                background-color: #111217;
            }

            tr td:first-of-type {
                color: rgb(98 106 116);
            }

            input {
                background-color: transparent;
                box-shadow: none;
                border: 1px solid white;
                color: #cecece;
                border: 1px solid #202127;
                border-radius: 5px;
                padding-left: 5px;
                font-family: 'Titlillium';
                font-weight: 500;
            }

            button {
                border-radius: 100px;
                border: 1px solid #202127;
                background-color: #111217;
                color: #cecece;
                padding: 4px 12px;
                transition: .3s ease;
            }

            button:hover {
                background-color: #23242c;
            }

            button:disabled {
                opacity: 0.4;
                cursor: not-allowed;
            }

            svg {
                width: 15px;
                height: 15px;
            }
        }
    }
}


//incomePie
.incomePieContainer {
    .pieWrap {
        height: 200px !important;
        width: 200px !important;
        position: relative;

        .pieMeta {
            height: 200px !important;
            width: 200px !important;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            pointer-events: none;

            p {
                margin-bottom: 0;
            }

            p:first-of-type {
                font-weight: 600;
                font-size: 24px;
            }

            p:last-of-type {
                font-weight: 500;
                font-size: 16px;
                color: #7A7A7D;
            }
        }
    }

    .legenda {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        ul {
            margin-bottom: 0;
        }

        li {
            position: relative;
            margin-bottom: 10px;
        }

        li:before {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 5px;
            background-color: white;
            position: absolute;
            left: -25px;
            top: 5px;
        }

        li.blue:before {
            background-color: #A7E2FD;
        }

        li.red:before {
            background-color: #FF5072;
        }

        li.yellow:before {
            background-color: #F7C217;
        }

        li.green:before {
            background-color: #5CBD0C;
        }
    }
}

//era progress

.eraProgressContainer .pieWrap {
    height: 200px !important;
    width: 100% !important;
    position: relative;

    .eraPie {
        height: 200px !important;
        width: 100% !important;
    }

    .pieMeta {
        height: 200px !important;
        width: 100% !important;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        pointer-events: none;

        #eraPercentage {
            top: 80px;
            position: absolute;
            font-size: 36px;
            font-weight: 600;
        }

        #eraDescription {
            top: 125px;
            position: absolute;
            font-size: 20px;
            color: #7A7A7D;
            font-weight: 500;
        }
    }
}


//select

