.h100vh {
    height: 100vh;
}

main {
    background-color: #111315;

    h2 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
    }

    h3 {
        color: #32E7B1;
        font-size: 60px;
        font-weight: 600;

        span {
            color: rgb(10, 151, 109);
            font-size: 46px;
        }

        small {
            color: #636467;
            font-size: 20px;
            margin-left: 10px;
        }
    }

    .poolWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .poolData {
            width: 50%;
        }

        .poolChart {
            width: 50%;
        }
    }

    .poolWrapper>div {
        background-color: #272b30;
        border-radius: 5px;
        display: flex;
        padding: 10px;
        width: 33.3%;

        svg {
            margin-right: 10px;
            width: 40px;
            height: 40px;
        }

        div {
            small {
                color: #fff;
                font-weight: 600;
            }
        }
    }

    .poolWrapper>div:nth-of-type(2) {
        margin-left: 15px;
        margin-right: 15px;
        width: calc(33.3% - 30px);
    }

    #notificationContainer {
        background-color: #272b30;
        font-weight: 500;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 10px;
        flex-wrap: wrap;

        #supportIcon {
            background: #0c68e9;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            margin-right: 10px;

            svg {
                width: 15px;
                height: 15px;
            }
        }

        p {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: #0094ff;
        }
    }

    .poolHeadContainer {
        background-color: #272b30;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 10px;
        flex-wrap: wrap;

        .poolIcon {
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            margin-right: 10px;

            img {
                width: 100%;
                border-radius: 100%;
                border-radius: 8px;
            }
        }

        p {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: #0094ff;
        }
    }

    section .card.poolContainer {
        min-height: 250px;

        button {
            border-radius: 15px;
            border: 1px solid #24282c;
            background-color: transparent;
            color: #64686b;
            padding: 0px 12px;
            transition: 0.3s ease;
            display: flex;
            align-items: center;
            padding-right: 15px;
            font-size: 14px;
            font-weight: 600;

            svg {
                stroke: #64686b;
                margin-right: 8px;
                width: 16px;
            }
        }

        .poolWrapper p {
            margin: 0;
            text-transform: uppercase;
            font-weight: 600;

            small {
                color: white;
                font-size: 8px;
            }
        }

        .poolWrapper:not(:last-child) {
            margin-bottom: 15px;
        }

        .changeWrapper {
            display: flex;
            align-items: center;
            padding: 2px 8px;
            border-radius: 12px;
            font-size: 12px;
            line-height: 1.66667;
            font-weight: 600;
            color: #FCFCFD;
            width: fit-content;
            background: #1b1d1f;
            margin-top: 5px;

            svg {
                width: 13px !important;
                height: 14px !important;
                margin-right: 0px !important;
                margin-left: 5px;
            }
        }

        .changeWrapper.positive {
            background: #58BD7D;
        }

        .changeWrapper.negative {
            background: #FF6838;
        }
    }

    section .card {
        background-color: #1a1d1f;
        border-radius: 20px;
        transition: .3s ease;
        min-height: 265px;
        max-height: 265px;
        overflow-y: scroll;

        .head {
            padding: 15px;
            // border-bottom: 1px solid #111314;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                margin: 0;
                font-weight: 700;
            }

            img {
                border-radius: 100px;
                width: 25px;
                height: 25px;
                margin-left: 5px;
            }
        }

        .body {
            // padding: 15px;
        }

        .body.wrapCenter {
            display: flex;
            align-items: center;
        }
    }

    aside {
        .mobileClose {
            display: none;
            position: absolute;
            right: 15px;
            top: 15px;
        }
        
        background-color: #1a1d1f;
        position: relative;

        .nav {
            .nav-link {
                border-radius: 20px;
                display: flex;
                align-items: center;
                padding: 15px 15px 15px 20px;
                font-weight: bold;
                color: #6f7072;
                position: relative;
                width: 100%;
                cursor: pointer;

                svg,img {
                    margin-right: 15px;
                }
            }

            .border-top {
                border-top: 1px solid #272b30 !important;
            }

            .nav-link.active {
                background-color: #272b30;
                color: white;
            }
        }

        .bottom {
            position: absolute;
            bottom: 0px;
            width: 100%;
            left: 0;
        }

        button {
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            border: none;
            border-radius: 100px;
            font-weight: 600;
            padding: 12px 18px;
            font-size: 14px;
            width: 100%;
            transition: .3s ease;

            svg {
                margin-right: 8px;
            }
        }

        .card {
            background-color: #272b30;
            border: 15px solid #1a1d1f;
            border-radius: 30px;
            padding: 16px;
        }

        #manageButtonWrapper {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                background-color: #0D0C12;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #5A5A5A;
                border-radius: 6px;
                font-weight: 600;
                padding: 12px 18px;
                font-size: 14px;
                width: 45%;
                transition: .3s ease;

                svg {
                    stroke: #5A5A5A;
                    margin-right: 8px;
                }
            }

            button:hover {
                background-color: #101117;
            }

            button.active {
                background-color: #272b30;
                color: white;
            }

            button.active svg {
                stroke: white;
            }
        }

        .validator {
            display: flex;
            align-items: center;

            img {
                width: 22px;
                height: 22px;
                border-radius: 100px;
            }
            span {
                border-radius: 100px;
                background-color: white;
                padding: 4px 20px;
                color: black;
                font-weight: 500;
                text-transform: capitalize;
                position: absolute;
                right: 15px;
            }

            span.active {
                background-color: #32E7B1;
            }

            span.waiting {
                background-color: #FFD057;
            }

            span.offline {
                background-color: #DB4F4F;
            }
        }
    }

    section {
        max-height: 100vh;
        overflow-y: scroll;

        .tableWrapper table {
            border-collapse: collapse;
            width: 100%;

            td,
            th {
                padding: 8px;
                color: #cecece;
                font-weight: 500;
                height: 70px;
                vertical-align: middle;
            }

            th {
                padding-top: 6px;
                padding-bottom: 6px;
                text-align: left;
                color: #7A7A7D;
                font-weight: 500;
            }

            tr td:nth-of-type(2) {
                text-transform: uppercase;
            }

            tr img {
                border-radius: 100px;
                width: 40px;
                height: 40px;
            }

            tr:nth-child(even) {
                // border-bottom: 1px solid #1e2527;
            }

            tr td:first-of-type {
                color: rgb(98 106 116);
            }

            input {
                font-family: "Rubik", sans-serif;
                background-color: transparent;
                box-shadow: none;
                border: 1px solid white;
                color: #cecece;
                border-radius: 5px;
                padding-left: 5px;
                font-weight: 500;
            }

            button {
                border-radius: 15px;
                border: 1px solid #24282c;
                background-color: transparent;
                color: #64686b;
                transition: 0.3s ease;
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: 600;
                padding: 4px 12px;
            }

            button:disabled {
                opacity: 0.4;
                cursor: not-allowed;
            }

            svg {
                width: 15px;
                height: 15px;
            }

            .priceChangeWrapper {
                img {
                    width: 20px;
                    height: 20px;
                }
            }

            .priceChangeWrapper.down {
                color: #e15241;
            }

            .priceChangeWrapper.up {
                color: #8dc647;
            }
        }
    }
}


//incomePie
.incomePieContainer {
    .pieWrap {
        height: 200px !important;
        width: 200px !important;
        position: relative;

        .pieMeta {
            height: 200px !important;
            width: 200px !important;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            pointer-events: none;

            p {
                margin-bottom: 0;
            }

            p:first-of-type {
                font-weight: 600;
                font-size: 24px;
            }

            p:last-of-type {
                font-weight: 500;
                font-size: 14px;
                color: #7A7A7D;
            }
        }
    }

    .legenda {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        ul {
            margin-bottom: 0;
        }

        li {
            position: relative;
            margin-bottom: 10px;
        }

        li:before {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 5px;
            background-color: white;
            position: absolute;
            left: -25px;
            top: 5px;
        }

        li:nth-of-type(1)::before {
            background-color: #3d64e1;
        }

        li:nth-of-type(2)::before {
            background-color: #ebb362;
        }

        li:nth-of-type(3)::before {
            background-color: #b8acf6;
        }

        li:nth-of-type(4)::before {
            background-color: #e7ccee;
        }

        li:nth-of-type(5)::before {
            background-color: #dde0e6;
        }
    }
}

//era progress

.eraProgressContainer .pieWrap {
    height: 200px !important;
    width: 100% !important;
    position: relative;

    .eraPie {
        height: 200px !important;
        width: 100% !important;
    }

    .pieMeta {
        height: 200px !important;
        width: 100% !important;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        pointer-events: none;

        #eraPercentage {
            top: 80px;
            position: absolute;
            font-size: 36px;
            font-weight: 600;
        }

        #eraDescription {
            top: 125px;
            position: absolute;
            font-size: 20px;
            color: #7A7A7D;
            font-weight: 500;
        }
    }
}

.select {
    border-radius: 100px;
    background-color: #1a1d1f;
    color: #cecece;
    padding: 4px 12px;
    transition: 0.3s ease;
}

.modal {
    background-color: rgba(0, 0, 0, .5);
    --bs-modal-header-border-color: #111314;
    --bs-modal-footer-border-color: #111314;
    --bs-form-control-bg: #111314;
    --bs-border-color: #111314;
    --bs-body-color: white;
}


.showModal {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    opacity: 1;
    color: black;
}

.modal-content {
    background-color: #1a1d1f;
    color: white;
    width: 500px;
    border-radius: 20px;

    h5 {
        font-weight: 600;
    }

    label {
        font-weight: 500;
    }
}

.modal-footer button {
    color: white;
}

.form-control::placeholder {
    color: gray;
}

#syncButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed
}

#syncButton svg {
    margin-right: 10px;
    animation: rotate 1s linear infinite;
}

.disabled {
    opacity: 0.5;
    filter: blur(3px);
    pointer-events: none;
}

.nominatorStatus {
    background-color: #0ee4d8;
    color: black;
    border-radius: 5px;
    padding: 1px 6px;
    font-weight: 600;
}

.mobileNavButton {
    position: absolute;
    bottom: 15px;
    left: 15px;
    background-color: #3d64e1;
    width: 65px;
    height: 65px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ai-TrashCan {
    cursor: pointer;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 900px) {
    .modal-content {
        width: 325px;
    }

    main aside {
        position: absolute !important;
        z-index: 99;
        height: 100vh;
        top: 0;
    }

    main .poolWrapper > div {
        flex-direction: column;
    }

    main .poolWrapper .poolData {
        width: 100%;
    }

    main .poolWrapper canvas {
        width: 100% !important;
    }

    .mobileClose  {
        display: block !important;
    }

    .poolWrapper {
        display: flex;
    }

    main .poolWrapper> div {
        width: 100%;
    }

    main .poolWrapper > div:nth-of-type(2) {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;

         margin-left: 0px;
        margin-right: 0px;
    }
}