<nav class="container mt-4 mb-5">
    <div id="left">
        <img src="assets/logo/cyclops.svg" id="logo">
        <a [routerLink]="['/dashboard']" class="active">Dashboard</a>
        <a [routerLink]="['/settings']" *ngIf="isAdmin()">Settings</a>
    </div>
    <div id="right">
        <a id="logoutButton" (click)="logout()"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" class="ai ai-SignOut">
                <path d="M13 12h9m0 0l-3.333-4M22 12l-3.333 4" />
                <path
                    d="M14 7V5.174a2 2 0 0 0-2.166-1.993l-8 .666A2 2 0 0 0 2 5.84v12.32a2 2 0 0 0 1.834 1.993l8 .667A2 2 0 0 0 14 18.826V17" />
            </svg></a>
    </div>
</nav>
<main class="container">
    <div class="row">
        <aside class="col-sm-12 col-md-12 col-lg-5 col-xl-4 mb-3">
            <div class="card">
                <h2>My validators</h2>
                <h3>Today: <span>{{dashboardService.getTotalRewardsToday()}}</span></h3>
                <div id="manageButtonWrapper" class="mt-2">
                    <button [ngClass]="{'active' : isActive(0)}" (click)="dashboardService.selectValidator(0)"><svg
                            width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.66667 1H1.61111C1.2736 1 1 1.2736 1 1.61111V4.66667C1 5.00417 1.2736 5.27778 1.61111 5.27778H4.66667C5.00417 5.27778 5.27778 5.00417 5.27778 4.66667V1.61111C5.27778 1.2736 5.00417 1 4.66667 1Z"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M4.66667 7.72223H1.61111C1.2736 7.72223 1 7.99583 1 8.33334V11.3889C1 11.7264 1.2736 12 1.61111 12H4.66667C5.00417 12 5.27778 11.7264 5.27778 11.3889V8.33334C5.27778 7.99583 5.00417 7.72223 4.66667 7.72223Z"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M11.3888 1H8.33328C7.99577 1 7.72217 1.2736 7.72217 1.61111V4.66667C7.72217 5.00417 7.99577 5.27778 8.33328 5.27778H11.3888C11.7263 5.27778 11.9999 5.00417 11.9999 4.66667V1.61111C11.9999 1.2736 11.7263 1 11.3888 1Z"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M11.3888 7.72223H8.33328C7.99577 7.72223 7.72217 7.99583 7.72217 8.33334V11.3889C7.72217 11.7264 7.99577 12 8.33328 12H11.3888C11.7263 12 11.9999 11.7264 11.9999 11.3889V8.33334C11.9999 7.99583 11.7263 7.72223 11.3888 7.72223Z"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>Overview</button>
                    <button (click)="toggleModal(addValidatorModal)" data-toggle="modal" data-target="#exampleModal"
                        data-whatever="@mdo"><svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 11V6M6 6V1M6 6H11M6 6H1" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        Add validator</button>
                </div>
                <div id="validatorList">
                    <div *ngFor="let validator of dashboardService.validatorList; index as i;">
                        <div class="validator mt-3" [ngClass]="{'active' : isActive(i+1)}"
                            (click)="dashboardService.selectValidator(i+1)">
                            <div class="logoWrapper">
                                <img [src]="dashboardService.networkList[validator.networkId-1]['icon']">
                            </div>
                            <div class="detailsWrapper">
                                <div>
                                    <p>{{validator.name}}</p>
                                    <span
                                        class="{{validator['details']['status']}}">{{validator['details']['status']}}</span>
                                </div>
                                <p class="address mt-2">{{truncateString(validator.address, 30)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <section class="col-sm-12 col-md-12 col-lg-7 col-xl-8">
            <div class="container">

                <!-- Dashboard overview container -->
                <ng-container *ngIf="onOverview()">
                    <div class="row">
                        <div class="col">
                            <div id="notificationContainer" class="mb-3">
                                <div id="supportIcon">
                                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M2.5 0C1.1195 0 0 0.994083 0 2.22054C0 3.21058 0.4375 5.56031 4.744 7.93562C4.82114 7.97773 4.9097 8 5 8C5.0903 8 5.17886 7.97773 5.256 7.93562C9.5625 5.56031 10 3.21058 10 2.22054C10 0.994083 8.8805 0 7.5 0C6.1195 0 5 1.34578 5 1.34578C5 1.34578 3.8805 0 2.5 0Z"
                                            fill="white" />
                                    </svg>
                                </div>
                                <p>Consider supporting Cyclops by nominating <a href="https://decentradot.com/"
                                        target="_blank">decentraDOT validators</a>. Thank you!</p>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="card">
                                <div class="head">
                                    <p>Critical events</p>
                                </div>
                                <div class="body tableWrapper">
                                    <table>
                                        <tr>
                                            <th style="width: 10%;">Validator</th>
                                            <th style="width: 20%;">Event</th>
                                            <th style="width: 20%;">Date</th>
                                            <th style="width: 50%;">Description</th>
                                        </tr>
                                        <tr *ngIf="dashboardService.eventList.length == 0">
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        <tr *ngFor="let event of dashboardService.eventList">
                                            <td><b>{{event.name}}</b></td>
                                            <td>{{event.eventType}}</td>
                                            <td>{{dashboardService.formatUnixTimestamp(event.timestamp)}}</td>
                                            <td>{{event.description}}</td>
                                            <td (click)="dashboardService.removeEvent(event.eventId)"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="ai ai-TrashCan">
                                                    <path
                                                        d="M4 6h16l-1.58 14.22A2 2 0 0 1 16.432 22H7.568a2 2 0 0 1-1.988-1.78L4 6z" />
                                                    <path
                                                        d="M7.345 3.147A2 2 0 0 1 9.154 2h5.692a2 2 0 0 1 1.81 1.147L18 6H6l1.345-2.853z" />
                                                    <path d="M2 6h20" />
                                                    <path d="M10 11v5" />
                                                    <path d="M14 11v5" />
                                                </svg></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-6 mb-3">
                            <div class="card incomePieContainer">
                                <div class="head">
                                    <p>Income distribution</p>
                                </div>
                                <div class="body wrapCenter">
                                    <div class="pieWrap">
                                        <div class="pieMeta">
                                            <p>{{dashboardService.addThousandSeperator(dashboardService.getTotalCombinedRewards())}}
                                            </p>
                                            <p>All-time Rewards</p>
                                        </div>
                                        <canvas id="incomePieChart" baseChart class="chart"
                                            [data]="dashboardService.incomePieData" [options]="incomeChartOption"
                                            [type]="incomeChartType">
                                        </canvas>
                                    </div>
                                    <div class="legenda">
                                        <ul>
                                            <li *ngFor="let validator of dashboardService.validatorList">
                                                {{validator.name}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-6 mb-3">
                            <div class="card tableWrapper">
                                <div class="head">
                                    <p>Token prices</p>
                                </div>
                                <div class="body">
                                    <table>
                                        <tr>
                                            <th>Token</th>
                                            <th>Price</th>
                                            <th>Change</th>
                                        </tr>
                                        <tr *ngFor="let network of dashboardService.networkList">
                                            <td><img [src]="network.icon"></td>
                                            <td>${{roundTwoDigits(network.price)}}</td>
                                            <td class="priceChangeWrapper"
                                                [ngClass]="{'down' : !isPositive(network.change), 'up' : isPositive(network.change)}">
                                                <img src="assets/icons/caret_up.svg" *ngIf="isPositive(network.change)">
                                                <img src="assets/icons/caret_down.svg"
                                                    *ngIf="!isPositive(network.change)">
                                                {{roundTwoDigits(network.change)}}%
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-6 mb-3">
                            <div class="card">
                                <div class="head">
                                    <p>Combined daily rewards</p>
                                    <p>in USD</p>
                                </div>
                                <div class="body">
                                    <canvas id="combinedDailyRewardChart" baseChart class="chart"
                                        [data]="dashboardService.dailyIncomeData" [options]="dailyIncomeChartOption"
                                        [type]="dailyIncomeChartType" style="max-height: 300px;">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-6 mb-3">
                            <div class="card">
                                <div class="head">
                                    <p>Combined monthly rewards</p>
                                    <p>in USD</p>
                                </div>
                                <div class="body">
                                    <canvas id="combinedMonthlyRewardChart" baseChart class="chart"
                                        [data]="dashboardService.monthlyIncomeData" [options]="dailyIncomeChartOption"
                                        [type]="dailyIncomeChartType" style="max-height: 300px;">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="card poolContainer">
                                <div class="head">
                                    <p>My pools</p>
                                    <button (click)="toggleModal(addPoolModal)"><svg xmlns="http://www.w3.org/2000/svg"
                                            width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="ai ai-Plus">
                                            <path d="M12 20v-8m0 0V4m0 8h8m-8 0H4" />
                                        </svg> Add pool</button>
                                </div>
                                <div class="body">

                                    <ng-container *ngFor="let pool of dashboardService.poolList">
                                        <div class="poolHeadContainer mb-3">
                                            <div class="poolIcon">
                                                <img [src]="dashboardService.networkList[pool.networkId-1]['icon']">
                                            </div>
                                            <p *ngIf="pool['meta'].length != 0">{{pool['name']}}</p>
                                            <p *ngIf="pool['meta'].length == 0">Retrieving pool data in a few minutes..</p>
                                        </div>
                                        <div class="poolWrapper">
                                            <div>
                                                <div class="poolData">
                                                    <small>Total pooled</small>
                                                    <p>{{calculatePoolMonetaryValue(pool['networkId'],
                                                        pool['meta'][0]['totalBond'])}}</p>

                                                    <div class="changeWrapper"
                                                        [ngClass]="{ 'positive': calculateDifferenceValue(pool, 'totalBond').includes('+'), 'negative': calculateDifferenceValue(pool, 'totalBond').includes('-') }">
                                                        <p>{{calculateDifferenceValue(pool, "totalBond")}} <small>today</small></p>
                                                    </div>
                                                </div>
                                                <canvas class="poolChart" baseChart class="chart"
                                                    [data]="getPoolMetaData(pool['meta'], 'totalBond', pool['networkId'], true)" [options]="poolChartOptions"
                                                    [type]="lineChartType" style="width: 115px; height: 75px;"></canvas>
                                            </div>
                                            <div>
                                                <div class="poolData">
                                                    <small>Member count</small>
                                                    <p>{{pool['meta'][0]['memberCount']}}</p>
                                                    <div class="changeWrapper"
                                                        [ngClass]="{ 'positive': calculateDifferenceNumber(pool, 'memberCount').includes('+'), 'negative': calculateDifferenceNumber(pool, 'memberCount').includes('-') }">
                                                        <p>{{calculateDifferenceNumber(pool, "memberCount")}} <small>today</small></p>
                                                    </div>
                                                </div>
                                                <canvas class="poolChart" baseChart class="chart"
                                                    [data]="getPoolMetaData(pool['meta'], 'memberCount', pool['networkId'], false)" [options]="poolChartOptions"
                                                    [type]="lineChartType" style="width: 115px; height: 75px;"></canvas>
                                            </div>
                                            <div>
                                                <div class="poolData">
                                                    <small>Pending rewards</small>
                                                    <p>{{calculatePoolMonetaryValue(pool['networkId'],
                                                        pool['meta'][0]['pendingRewards'])}}</p>
                                                    <div class="changeWrapper"
                                                        [ngClass]="{ 'positive': calculateDifferenceValue(pool, 'pendingRewards').includes('+'), 'negative': calculateDifferenceValue(pool, 'pendingRewards').includes('-') }">
                                                        <p>{{calculateDifferenceValue(pool, "pendingRewards")}} <small>today</small></p>
                                                    </div>
                                                </div>
                                                <canvas class="poolChart" baseChart class="chart"
                                                    [data]="getPoolMetaData(pool['meta'], 'pendingRewards', pool['networkId'], true)" [options]="poolChartOptions"
                                                    [type]="lineChartType" style="width: 115px; height: 75px;"></canvas>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <!-- Validator overview container -->
                <ng-container *ngIf="!onOverview()">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-6 mb-3">
                            <div class="card eraProgressContainer">
                                <div class="head">
                                    <p>ERA progress</p>
                                </div>
                                <div class="body wrapCenter">
                                    <div class="pieWrap">
                                        <div class="pieMeta">
                                            <p id="eraPercentage">
                                                {{dashboardService.round(dashboardService.pastEraPercentage)}} %</p>
                                            <p id="eraDescription">ERA progress</p>
                                        </div>
                                        <canvas id="eraPieChart" baseChart class="chart eraPie"
                                            [data]="dashboardService.eraProgressData" [options]="eraProgressChartOption"
                                            [type]="eraProgressChartType">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-6 mb-3">
                            <div class="card tokenPriceContainer">
                                <div class="head">
                                    <p>7d price change</p>
                                    <p>{{dashboardService.getValidatorNetworkTokenPrice()}} per <img
                                            [src]="dashboardService.getValidatorNetworkIcon()"></p>
                                </div>
                                <div class="body">
                                    <canvas id="sparklineChart" baseChart class="chart"
                                        [data]="dashboardService.tokenChartData" [options]="tokenChartOptions"
                                        [type]="lineChartType" style="width: 100%; height: 200px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-6 mb-3">
                            <div class="card">
                                <div class="head">
                                    <p>Weekly overview</p>
                                    <p>in USD</p>
                                </div>
                                <div class="body">
                                    <canvas id="weeklyOverviewChart" baseChart class="chart"
                                        [data]="dashboardService.dailyIncomeData" [options]="dailyIncomeChartOption"
                                        [type]="dailyIncomeChartType" style="max-height: 300px;">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-6 mb-3">
                            <div class="card">
                                <div class="head">
                                    <p>Reward overview</p>
                                </div>
                                <div class="body tableWrapper">
                                    <table>
                                        <tr>
                                            <th>Date</th>
                                            <th>Rewards</th>
                                            <th>Monetary value</th>
                                        </tr>
                                        <tr>
                                            <td><b>Today</b></td>
                                            <td>{{dashboardService.validatorRewardOverview['daily']['reward']}}
                                                {{dashboardService.validatorRewardOverview['ticker']}}</td>
                                            <td>$
                                                {{dashboardService.addThousandSeperator(dashboardService.validatorRewardOverview['daily']['monetaryValue'].toFixed(2))}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Week</b></td>
                                            <td>{{dashboardService.validatorRewardOverview['weekly']['reward']}}
                                                {{dashboardService.validatorRewardOverview['ticker']}}</td>
                                            <td>$
                                                {{dashboardService.addThousandSeperator(dashboardService.validatorRewardOverview['weekly']['monetaryValue'].toFixed(2))}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Month</b></td>
                                            <td>{{dashboardService.validatorRewardOverview['monthly']['reward']}}
                                                {{dashboardService.validatorRewardOverview['ticker']}}</td>
                                            <td>$
                                                {{dashboardService.addThousandSeperator(dashboardService.validatorRewardOverview['monthly']['monetaryValue'].toFixed(2))}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>All-time</b></td>
                                            <td>{{dashboardService.validatorRewardOverview['allTime']['reward']}}
                                                {{dashboardService.validatorRewardOverview['ticker']}}</td>
                                            <td>$
                                                {{dashboardService.addThousandSeperator(dashboardService.validatorRewardOverview['allTime']['monetaryValue'].toFixed(2))}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-6 mb-3">
                            <div class="card" [ngClass]="{'disabled' : !dashboardService.isActive()}">
                                <div class="head">
                                    <p>Bond overview</p>
                                </div>
                                <div class="body tableWrapper">
                                    <table>
                                        <tr>
                                            <th>Type</th>
                                            <th>Amount</th>
                                        </tr>
                                        <tr>
                                            <td><b>Active nominators</b></td>
                                            <td><span
                                                    class="nominatorStatus">{{dashboardService.getNominatorCount()}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Validator bond</b></td>
                                            <td>{{dashboardService.addThousandSeperator(dashboardService.getBondedOwner())}}
                                                {{dashboardService.validatorRewardOverview['ticker']}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Nominator bond</b></td>
                                            <td>{{dashboardService.addThousandSeperator(dashboardService.getBondedNominators())}}
                                                {{dashboardService.validatorRewardOverview['ticker']}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Total bonded</b></td>
                                            <td>{{dashboardService.addThousandSeperator(dashboardService.getBondedTotal())}}
                                                {{dashboardService.validatorRewardOverview['ticker']}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="card" [ngClass]="{'disabled' : !dashboardService.isActive()}">
                                <div class="head">
                                    <p>ERA points</p>
                                </div>
                                <div class="body">
                                    <canvas id="eraPointChart" baseChart class="chart"
                                        [data]="dashboardService.eraChartData" [options]="eraChartOptions"
                                        [type]="lineChartType" style="width: 100%; height: 250px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-6 mb-3">
                            <div class="card">
                                <div class="head">
                                    <p>Nominators</p>
                                    <ng-container *ngIf="!dashboardService.isActive()">
                                        <span class="nominatorStatus">{{dashboardService.getNominatorCount()}}
                                            nominators</span>
                                    </ng-container>
                                </div>
                                <div class="body">
                                    <canvas id="nominatorChart" baseChart class="chart"
                                        [data]="dashboardService.nominatorChartData" [options]="lineChartOptions"
                                        [type]="lineChartType" style="width: 100%; height: 250px;"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-6 mb-3">
                            <div class="card">
                                <div class="head">
                                    <p>Yearly overview</p>
                                    <p>in USD</p>
                                </div>
                                <div class="body">
                                    <canvas id="combinedMonthlyRewardChart" baseChart class="chart"
                                        [data]="dashboardService.monthlyIncomeData" [options]="dailyIncomeChartOption"
                                        [type]="dailyIncomeChartType" style="max-height: 300px;">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-6 mb-3">
                            <div class="card">
                                <div class="head">
                                    <p>1kv statistics</p>
                                </div>
                                <div class="body tableWrapper">
                                    <table>
                                        <tr>
                                            <th style="width: 33%">Type</th>
                                            <th style="width: 33%">Is valid</th>
                                            <th style="width: 33%">Updated on</th>
                                        </tr>
                                        <tr *ngIf="dashboardService.thousandValData == null">
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        <tr *ngFor="let val of dashboardService.thousandValData">
                                            <td><b>{{formatType(val.type)}}</b></td>
                                            <td>
                                                <ng-container *ngIf="val.valid == true">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                                                        viewBox="0 0 24 24" fill="#50B720" stroke-width="2"
                                                        class="ai ai-CircleCheckFill">
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                            d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1zm4.768 9.14a1 1 0 1 0-1.536-1.28l-4.3 5.159-2.225-2.226a1 1 0 0 0-1.414 1.414l3 3a1 1 0 0 0 1.475-.067l5-6z" />
                                                    </svg>
                                                </ng-container>
                                                <ng-container *ngIf="val.valid == false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                                                        viewBox="0 0 24 24" fill="#B72020" stroke-width="2"
                                                        class="ai ai-CircleXFill">
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                            d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1zm3.707 8.707a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293a1 1 0 1 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293z" />
                                                    </svg>
                                                </ng-container>
                                            </td>
                                            <td>{{dashboardService.formatUnixTimestamp(val.updated)}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-6 mb-3">
                            <div class="card">
                                <div class="head">
                                    <p>Stash balance</p>
                                </div>
                                <div class="body">
                                    <canvas id="stashBalanceChart" baseChart class="chart"
                                        [data]="dashboardService.lineChartData" [options]="lineChartOptions"
                                        [type]="lineChartType" style="width: 100%; height: 250px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="card">
                                <div class="head">
                                    <p>Income report</p>
                                </div>
                                <div class="body tableWrapper">
                                    <table>
                                        <tr>
                                            <th>Month</th>
                                            <th>Tokens</th>
                                            <th>Monetary value</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr>
                                            <td><select [(ngModel)]="reportMonth" class="select select_up"
                                                    id="historyMonthSwitch" (change)="fetchIncomeReportMonth()">
                                                    <option [ngValue]="null" [disabled]="true">Select month</option>
                                                    <option value="1">Jan</option>
                                                    <option value="2">Feb</option>
                                                    <option value="3">Mar</option>
                                                    <option value="4">Apr</option>
                                                    <option value="5">May</option>
                                                    <option value="6">Jun</option>
                                                    <option value="7">Jul</option>
                                                    <option value="8">Aug</option>
                                                    <option value="9">Sep</option>
                                                    <option value="10">Oct</option>
                                                    <option value="11">Nov</option>
                                                    <option value="12">Dec</option>
                                                </select></td>
                                            <td>{{incomeReportTokens}}</td>
                                            <td>${{incomeReportMonetary}}</td>
                                            <td><button (click)="GeneratePDF()"><svg xmlns="http://www.w3.org/2000/svg"
                                                        width="36" height="36" viewBox="0 0 24 24" fill="none"
                                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" class="ai ai-Download">
                                                        <path d="M12 15V3m0 12l-4-4m4 4l4-4" />
                                                        <path
                                                            d="M2 17l.621 2.485A2 2 0 0 0 4.561 21H19.439a2 2 0 0 0 1.94-1.515L22 17" />
                                                    </svg> Income report</button></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-6 mb-3">
                            <div class="card">
                                <div class="head">
                                    <p>Validator settings</p>
                                </div>
                                <div class="body tableWrapper">
                                    <table>
                                        <tr>
                                            <th>Setting</th>
                                            <th>Option</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr>
                                            <td><b>Active</b></td>
                                            <td>-</td>
                                            <td><button (click)="deleteValidator()">Delete</button></td>
                                        </tr>
                                        <tr>
                                            <td><b>Name</b></td>
                                            <td><input type="text" [(ngModel)]="valName" placeholder="new name"></td>
                                            <td><button [disabled]="valName ==''"
                                                    (click)="updateValidatorName()">Update</button></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-6 mb-3">
                            <div class="card">
                                <div class="head">
                                    <p>Critical events</p>
                                </div>
                                <div class="body tableWrapper">
                                    <table>
                                        <tr>
                                            <th style="width: 33%">Validator</th>
                                            <th style="width: 33%">Event</th>
                                            <th style="width: 33%">Date</th>
                                        </tr>
                                        <tr *ngIf="dashboardService.eventList.length == 0">
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        <tr *ngFor="let event of dashboardService.selectValEventList">
                                            <td><b>{{event.name}}</b></td>
                                            <td>{{event.eventType}}</td>
                                            <td>{{dashboardService.formatUnixTimestamp(event.timestamp)}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </section>
    </div>
</main>

<div class="modal fade" #addValidatorModal tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new validator</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Network:</label>
                        <select class="form-control" #addValNetwork>
                            <option *ngFor="let network of dashboardService.networkList;" [value]="network.id">
                                {{network.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Address:</label>
                        <input class="form-control" type="text" placeholder="15wznkm7fMaJLFaw7B8K.." #addValAddress
                            (keyup)="fetchValidatorName(addValNetwork, addValAddress, addValName)">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Validator name:</label>
                        <input class="form-control" type="text" placeholder="Amsterdam" #addValName>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" *ngIf="!dashboardService.isSyncing()"
                    (click)="toggleModal(addValidatorModal)">Cancel</button>

                <button type="button" class="btn btn-dark" *ngIf="!dashboardService.isSyncing()"
                    (click)="submitValidator(addValName.value, addValAddress.value, addValNetwork.value, addValidatorModal)">Submit
                    validator</button>
                <button type="button" class="btn btn-dark" *ngIf="dashboardService.isSyncing()" id="syncButton"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="ai ai-ArrowCycle">
                        <path d="M22 12c0 6-4.39 10-9.806 10C7.792 22 4.24 19.665 3 16" />
                        <path d="M2 12C2 6 6.39 2 11.806 2 16.209 2 19.76 4.335 21 8" />
                        <path d="M7 17l-4-1-1 4" />
                        <path d="M17 7l4 1 1-4" />
                    </svg>Syncing..</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" #addPoolModal tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new pool</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Network:</label>
                        <select class="form-control" #addPoolNetwork>
                            <option *ngFor="let network of dashboardService.networkList;" [value]="network.id">
                                {{network.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Pool ID:</label>
                        <input class="form-control" type="text" placeholder="5" #addPoolID
                            (keyup)="fetchPoolName(addPoolNetwork, addPoolID, addPoolName)">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Pool name:</label>
                        <input class="form-control" type="text" placeholder="My pool" #addPoolName>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" *ngIf="!dashboardService.isSyncing()"
                    (click)="toggleModal(addPoolModal)">Cancel</button>
                <button type="button" class="btn btn-dark"
                    (click)="submitPool(addPoolName.value, addPoolID.value, addPoolNetwork.value, addPoolModal)">Submit
                    validator</button>
                <button type="button" class="btn btn-dark" *ngIf="dashboardService.isSyncing()" id="syncButton"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="ai ai-ArrowCycle">
                        <path d="M22 12c0 6-4.39 10-9.806 10C7.792 22 4.24 19.665 3 16" />
                        <path d="M2 12C2 6 6.39 2 11.806 2 16.209 2 19.76 4.335 21 8" />
                        <path d="M7 17l-4-1-1 4" />
                        <path d="M17 7l4 1 1-4" />
                    </svg>Syncing..</button>
            </div>
        </div>
    </div>
</div>