<nav class="container mt-4 mb-5">
    <div id="left">
        <img src="assets/logo/cyclops.svg" id="logo">
        <a [routerLink]="['/dashboard']">Dashboard</a>
        <a [routerLink]="['/settings']" class="active">Settings</a>
    </div>
    <div id="right">
        <a id="logoutButton" (click)="logout()"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" class="ai ai-SignOut">
                <path d="M13 12h9m0 0l-3.333-4M22 12l-3.333 4" />
                <path
                    d="M14 7V5.174a2 2 0 0 0-2.166-1.993l-8 .666A2 2 0 0 0 2 5.84v12.32a2 2 0 0 0 1.834 1.993l8 .667A2 2 0 0 0 14 18.826V17" />
            </svg></a>
    </div>
</nav>
<main class="container">
    <div class="row">
        <section class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-5 mb-3">
                        <div class="card">
                            <div class="head">
                                <p>API</p>
                            </div>
                            <div class="body tableWrapper">
                                <table>
                                    <tr>
                                        <th>Setting</th>
                                        <th>Option</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr>
                                        <td><b>Subscan API Key</b></td>
                                        <td>
                                            <input type="text" placeholder="Enter API key" [(ngModel)]="subscanApiKey">
                                        </td>
                                        <td><button (click)="updateApiKey()"
                                                [disabled]="subscanApiKey.length == 0">Update</button></td>
                                    </tr>
                                    <!-- <tr>
                                        <td><b>Data update rate</b></td>
                                        <td><select>
                                                <option>every 1 minute</option>
                                                <option selected>every 5 minutes</option>
                                                <option>every 10 minutes</option>
                                                <option>every 15 minutes</option>
                                                <option>every 30 minutes</option>
                                                <option>every 60 minutes</option>
                                            </select>
                                        </td>
                                        <td><button disabled>Update</button></td>
                                    </tr> -->
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-xl-7 mb-3">
                        <div class="card">
                            <div class="head">
                                <p>Networks</p>
                                <button (click)="toggleModal(addNetworkModal)">Create network</button>
                            </div>
                            <div class="body tableWrapper">
                                <table>
                                    <tr>
                                        <th>Icon</th>
                                        <th>Token</th>
                                        <th>Ticker</th>
                                        <!-- <th>Action</th> -->
                                    </tr>
                                    <tr *ngFor="let network of networkList">
                                        <td class="tokenIcon"><img [src]="network.icon"></td>
                                        <td>{{network.name}}</td>
                                        <td>{{network.ticker}}</td>
                                        <!-- <td><button *ngIf="network.name != 'polkadot'"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                                                    viewBox="0 0 24 24" fill="none" stroke="#545454" stroke-width="2"
                                                    stroke-linecap="round" stroke-linejoin="round"
                                                    class="ai ai-TrashCan">
                                                    <path
                                                        d="M4 6h16l-1.58 14.22A2 2 0 0 1 16.432 22H7.568a2 2 0 0 1-1.988-1.78L4 6z" />
                                                    <path
                                                        d="M7.345 3.147A2 2 0 0 1 9.154 2h5.692a2 2 0 0 1 1.81 1.147L18 6H6l1.345-2.853z" />
                                                    <path d="M2 6h20" />
                                                    <path d="M10 11v5" />
                                                    <path d="M14 11v5" />
                                                </svg></button></td> -->
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="card">
                            <div class="head">
                                <p>SMTP</p>
                            </div>
                            <div class="body tableWrapper">
                                <table>
                                    <tr>
                                        <th>Host</th>
                                        <th>Port</th>
                                        <th>Username</th>
                                        <th>Password</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr>
                                        <td><input type="text" placeholder="SMTP url" #smtpURL></td>
                                        <td><input type="text" placeholder="SMTP port" #smtpPort></td>
                                        <td><input type="text" placeholder="Host username" #smtpUsername></td>
                                        <td><input type="password" placeholder="Host password" #smtpPassword></td>
                                        <td><button
                                                (click)="setSMTP(smtpURL.value, smtpPort.value, smtpUsername.value, smtpPassword.value)">Update</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="head">
                                <p>Users</p>
                            </div>
                            <div class="body tableWrapper">
                                <table>
                                    <tr>
                                        <th>E-mail</th>
                                        <th>Validators</th>
                                    </tr>
                                    <tr>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </section>
    </div>
</main>

<div class="modal fade" #addNetworkModal tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new network</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Network name:</label>
                        <input class="form-control" type="text" placeholder="Kusama" #addNetworkName>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Ticker:</label>
                        <input class="form-control" type="text" placeholder="KSM" #addNetworkTicker>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Icon:</label>
                        <img [src]="base64Preview" id="base64Preview">
                        <input class="form-control" type="file" accept="image/png, image/jpeg" #base64Upload
                            (change)="encodeImageFileAsURL(base64Upload)" placeholder="KSM" #addNetworkIcon>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Decimals:</label>
                        <input class="form-control" type="number" placeholder="10" #addNetworkDecimals>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal"
                    (click)="toggleModal(addNetworkModal)">Cancel</button>

                <button type="button" class="btn btn-dark"
                    (click)="submitNetwork(addNetworkName.value, addNetworkTicker.value, base64Preview, addNetworkDecimals.value, addNetworkModal)">Submit
                    validator</button>
            </div>
        </div>
    </div>
</div>