main {
    h2 {
        color: #525978;
        font-size: 16px;
        font-weight: 600;
    }

    h3 {
        color: white;
        font-size: 24px;
        font-weight: 500;

        span {
            color: #32E7B1;
            font-weight: 600;
        }
    }

    section .card {
        background-color: #0D0C12;
        border: 1px solid #202127;

        .head {
            padding: 15px;
            border-bottom: 1px solid #202127;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                margin: 0;
                font-weight: 500;
            }

            img {
                border-radius: 100px;
                width: 25px;
                height: 25px;
                margin-left: 5px;
            }
        }

        .body {
            padding: 15px;
        }

        .body.wrapCenter {
            display: flex;
            align-items: center;
        }
    }

    section {
        button {
            border-radius: 100px;
            border: 1px solid #202127;
            background-color: #111217;
            color: #cecece;
            padding: 4px 12px;
            transition: .3s ease;
        }

        button:hover {
            background-color: #23242c;
        }

        button:disabled {
            opacity: 0.4;
            cursor: not-allowed;
        }

        .tableWrapper table {
            border-collapse: collapse;
            width: 100%;

            td,th {
                padding: 8px;
                color: #cecece;
                font-weight: 500;
            }

            th {
                padding-top: 6px;
                padding-bottom: 6px;
                text-align: left;
                color: #7A7A7D;
                font-weight: 500;
            }

            tr img {
                border-radius: 100px;
                width: 30px;
                height: 30px;
            }

            tr:nth-child(even) {
                background-color: #111217;
            }

            tr td:first-of-type {
                color: rgb(98 106 116);
            }

            input {
                background-color: transparent;
                box-shadow: none;
                border: 1px solid white;
                color: #cecece;
                border: 1px solid #202127;
                border-radius: 5px;
                padding-left: 5px;
                font-family: 'Titlillium';
                font-weight: 500;
            }

            select {
                background-color: transparent;
                box-shadow: none;
                border: 1px solid white;
                color: #cecece;
                border: 1px solid #202127;
                border-radius: 5px;
                padding-left: 5px;
                font-family: 'Titlillium';
                font-weight: 500;
            }

            button {
                border-radius: 100px;
                border: 1px solid #202127;
                background-color: #111217;
                color: #cecece;
                padding: 4px 12px;
                transition: .3s ease;
            }

            button:hover {
                background-color: #23242c;
            }

            button:disabled {
                opacity: 0.4;
                cursor: not-allowed;
            }

            svg {
                width: 15px;
                height: 15px;
            }

            .tokenIcon img {
                width: 30px;
                height: 30px;
                border-radius: 100px;
            }

            #uploadInput {
                display: none;
            }
        }
    }
}

.modal {
    background-color: rgba(0, 0, 0, .5);
    --bs-modal-header-border-color: #202127;
    --bs-modal-footer-border-color: #202127;
    --bs-form-control-bg: #202127;
    --bs-border-color: #202127;
    --bs-body-color: white;
}


.showModal {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    opacity: 1;
    color: black;
}

.modal-content {
    background-color: #111217;
    border: 1px solid #202127;
    color: white;
    width: 500px;
}

.modal-footer button {
    color: white;
}

.form-control::placeholder {
    color: gray;
}

#syncButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed
}

#syncButton svg {
    margin-right: 10px;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 900px) {

    .modal-content {
        width: 325px;
    }
}

#base64Preview {
    width: 25px;
    border-radius: 100px;
    position: absolute;
    right: 0;
    margin-right: 24px;
    margin-top: 45px;
}

input[type=file]::file-selector-button {
    background-color: #212529;
}

input[type=file]::file-selector-button:hover {
    background-color: #212529;
  }