body {
    font-family: "Rubik", sans-serif;
    background-color: #1a1d1f;
    color: white;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1a1d1f;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #272b30;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #272b30;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    #left {
        display: flex;
        align-items: center;
        justify-content: space-between;

        #logo {
            width: 100px;
        }

        a {
            font-weight: 600;
            margin-left: 50px;
            color: #4C5370;
            text-decoration: none;
            font-size: 18px;
        }

        a.active {
            color: #FFF !important;
        }
    }

    #right {
        #logoutButton {
            font-weight: 600;
            cursor: pointer;

            svg {
                width: 30px;
                transition: .3s ease;
            }

            svg:hover {
                transform: scale(1.1);
            }
        }
    }
}

.ngx-toastr {
    box-shadow: none !important;
}