@font-face {
    font-family: 'Titlillium';
    src: url('assets/font/TitilliumWeb-Black.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Titlillium';
    src: url('assets/font/TitilliumWeb-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Titlillium';
    src: url('assets/font/TitilliumWeb-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Titlillium';
    src: url('assets/font/TitilliumWeb-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Titlillium';
    src: url('assets/font/TitilliumWeb-Light.ttf');
    font-weight: 400;
}

body {
    font-family: 'Titlillium';
    background-color: #0B0A10;
    color: white;
}